<h2>Login!</h2>
<form action="<%= sessions_url %>" method="POST">
  <label for="email">Enter Email:</label>
  <br>
  <input type="text" for="username" name="email" value="">
  <br>
  <label for="password">Enter Password:</label>
  <br>
  <input type="text" for="password" name="password" value="">

  <input type="submit" value="Login">
</form>
<br>
<label for="createuser">Or create a user</label>
<br>
<%= button_to "Create", new_user_url, method: :get %>
