<h2>Create your band!</h2>
<form action="<%= bands_url %>" method="POST">
  <label for="band_name">Enter a band name:</label>
  <br>
  <input type="text" for="band_name" name="band[name]" value="">
  <br>
  <input type="submit" value="Create">
</form>
